# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/ME433 HW1.X/nbproject/private/
/ME433 HW1.X/build/default/
/ME433 HW1.X/dist/default/
/ME433 hw4.X/nbproject/private/
/ME433 hw4.X/build/default/
/ME433 hw4.X/dist/default/
/hw5.X/nbproject/private/
/hw5.X/dist/default/
/hw6.X/nbproject/private/
/hw6.X/build/default/
/hw6.X/dist/default/
/hw7.X/nbproject/private/
/hw7.X/build/default/
/hw7.X/dist/default/
/hw8/firmware/hw8.X/nbproject/private/
/hw8/firmware/hw8.X/dist/default/
/hw9/firmware/hw9.X/nbproject/private/
/hw9/firmware/hw9.X/dist/default/
/hw10/firmware/hw10.X/nbproject/private/
/hw10/firmware/hw10.X/build/default/
/hw10/firmware/hw10.X/dist/default/
/hw11/firmware/hw11.X/nbproject/private/
/hw11/firmware/hw11.X/dist/default/
/hw11/firmware/hw11.X/build/default/
/hw14/firmware/hw14.X/nbproject/private/
/hw14/firmware/hw14.X/build/default/
/hw14/firmware/hw14.X/dist/default/
/helloWorld.X/nbproject/private/
/helloWorld.X/dist/default/